
.navbar{
    overflow:hidden;
    background-color:#333;
}
.navbar a{
    float:left;
    font-size:16px;
    font-weight:bold;
    color:white;
    text-align:left;
    padding :14px 16px;
    text-decoration: none;
}

.subnav{
    float:left;
    overflow: hidden;
}
.subnav .subnavbtn{
    font-size:x-large;
    font-weight:bolder;
    border:none;
    outline:none;
    color:white;
    padding: 14px 16px;
    background-color: inherit;
    font-family:inherit;
    margin:0;
}
.navbar a:hover, .subnav:hover .subnavbtn{
    background-color: red;
}

.subnav-content{
    display:none;
    position:absolute;
    left:0px;
    background-color:white;
    color:coral;
    width:100%;
    z-index: 1;
    
}
.subnav-content a{
    color:white;
    text-decoration: none;
}

.subnav-content a:hover{
    background-color: #eee;
    color:coral;
    display:grid;
}

.subnav:hover .subnav-content{
    display: grid;
    position:relative;
}